<h1>About Me</h1>
<br/>
<br/>
<p>
  I’m currently pursuing BS degrees in Computer Science and Earth/Environmental Science from Northeastern University.
  This dual degree program allows me to complete two six-month “co-ops” at companies of my choosing. That translates to
  a full year of work experience in my fields of study before I earn my final degrees.
</p><br/>
<p>
  I spent seven years as a Lifeguard and Swim Instructor at our local public pools. I was promoted to Assistant Manager
  for the 2012 season.
</p><br/>
<p>
  These positions gave me experience with teaching, leadership, and responsibility. I
  have taught and coordinated swim lessons for kids of all ages. My management and lifeguard experience prepared me to
  think quickly and independently. I am a certified SAI Lifeguard Instructor which qualifies me to teach community and
  workplace CPR courses.
</p><br/>
<p>
  I volunteered as a teacher for an after school program at a public middle school in Boston. I taught a very
  introductory computer science class called bootstrap, sponsored by the Citizen Schools Initiative. This curriculum
  allows students to create their own simple video games while exploring the Scheme programming language. Some math
  concepts are also included.
</p><br/>
<p>
  The Bootstrap program goal is simple: motivate middle school students to develop
  an interest in math and/or computer science. Each semester I taught weekly lessons
  based on the curriculum posted on the bootstrap website. By my second semester, I
  was put in charge of a team of three other volunteers.
</p><br/>
<p>
  In July, 2012 I was awarded the President’s Volunteer Service Award, which is given by the White House to volunteers
  who give a significant amount of time to various organizations.
</p><br/>
<p>
  My interest in computer science has motivated me to learn new skills independently. Outside of class, I have created
  many projects which will be featured on this website. These projects allowed me to explore many Java libraries for
  designing GUI’s such as Swing and the 2D Graphics interface. I prefer to use Netbeans as my IDE, which assists with
  the layout for simple GUIs. I have also incorporated networking and database programming into some of my Java
  programs. In addition to experience with Java programming I have set up and administrated MySQL and Apache Web servers
  for both Windows and Linux. I have programmed in Scheme and ACL2 in school. Additionally, one of my classes focused on
  using Java with the functional programming paradigm.
</p><br/>
<p>
  Outside of class, I have done a bit of C++. I used Visual Basic (which I learned on the fly) to program my own
  formulas for an Excel spreadsheet to use for scheduling as a pool manager. I prefer to use Java when programming on my
  own because it is simpler to distribute or deploy as a web application. However, I would be willing to use and able to
  learn any programming language in a work environment.
</p><br/>
<p>
  Outside of academic life, I enjoy competitive swimming. I was on the swim team in high school and continue to swim on
  Northeastern University’s club team. My other hobbies are wilderness camping, running, bicycling, cooking, reading,
  and skydiving.
</p><br/>