%h1 About Me
%br/
%br/
%p
  I’m currently pursuing BS degrees in Computer Science and Earth/Environmental Science from Northeastern University.
  This dual degree program allows me to complete two six-month “co-ops” at companies of my choosing. That translates to
  a full year of work experience in my fields of study before I earn my final degrees.
%br/
%p.lead
  %strong Work Experience
%p
  I did my first co-op at NaviNet, a software company in Boston that creates web applications
  to support collaboration between health care providers. For my first project, I worked on a
  command line application that cross referenced a schedule of production jobs against the Splunk
  data logged when each job is run. This utility is used to find jobs that failed to start, or were
  scheduled incorrectly. This project gave me an opportunity to learn Python, a language
  I had never worked with before. Next, I created a step based provisioning framework in Python,
  which we used to automate the development environment setup process. Before the script,
  this setup process was entirely manual- it took most developers 2-4 weeks to setup their environment.
  This project gave me some experience working with code which had a large number of dependencies
  and frequent requirement changes. I learned a great deal about configuring Windows, IIS, and NAnt
  builds. I continued to support the provisioning program for the rest of my co-op while working
  on other projects. I next developed a C# utility that decompressed some data stored in a SQL
  database, which was used to resolve a production incident. I also worked on several Java projects
  which used the API for Atlassian's Jira system.
%br/
%p
  Before my co-op at NaviNet, I spent seven years as a lifeguard and swim instructor at our local public pools. I was
  promoted to Assistant Manager
  for the 2012 season.
%p
  These positions gave me experience with teaching, leadership, and responsibility. I
  have taught and coordinated swim lessons for kids of all ages. My management and lifeguard experience prepared me to
  think quickly and independently. I am a certified SAI Lifeguard Instructor which qualifies me to teach community and
  workplace CPR courses.
%br/
%p
  I volunteered as a teacher for an after school program at a public middle school in Boston. I taught a very
  introductory computer science class called bootstrap, sponsored by the Citizen Schools Initiative. This curriculum
  allows students to create their own simple video games while exploring the Scheme programming language. Some math
  concepts are also included.
%p
  The Bootstrap program goal is simple: motivate middle school students to develop
  an interest in math and/or computer science. Each semester I taught weekly lessons
  based on the curriculum posted on the bootstrap website. By my second semester, I
  was put in charge of a team of three other volunteers.
%p
  In July, 2012 I was awarded the President’s Volunteer Service Award, which is given by the White House to volunteers
  who give a significant amount of time to various organizations.
%br/
%p.lead
  %strong Outside of Work and Class
%p
  My interest in computer science has motivated me to learn new skills independently. Outside of class, I have created
  many projects which are featured on this website. These projects allowed me to explore many Java libraries for
  designing GUI’s such as Swing and the 2D Graphics interface. I have also incorporated networking and database
  programming into some of my Java programs. Outside of class, I have done a bit of C++. I used Visual Basic (which I learned on the fly) to program my own
  formulas for an Excel spreadsheet to use for scheduling as a pool manager. I recently started working with Ruby on Rails after
  attending a weekend seminar which taught me the basics. I created a web application in Rails called Rooster, which
  can be used to "wake-up" shared-hosting web applications that are put on standby due to inactivity. In another rails
  project I created a web shop, in which I experiment and learn more about web development by adding new features whenever
  I have time.
%p
  In addition to my programming experience I have set up and administrated MySQL and Apache Web servers
  for both Windows and Linux. At NaviNet, I learned to use the Windows IIS web server, Microsoft SQL Server 2008,
  VmWare, and Openfire(an XMPP Server). I have programmed in Scheme and ACL2 in school. Additionally, one of my classes
  focused on using Java with the functional programming paradigm.
%p
  Outside of academic life, I enjoy competitive swimming. I was on the swim team in high school and continue to swim on
  Northeastern University’s club team. My other hobbies are wilderness camping, running, bicycling, cooking, reading,
  and skydiving.
%br/
