<h1>Android Tetris</h1>
<p class="lead">A Tetris android application</p>
<%= link_to "Download", 'http://www.zachcotter.com/Tetris/AndroidTetris-release.apk', :class => "btn btn-primary btn-large" %>
<%= link_to "Code", 'http://github.com/zcotter/AndroidTetris', :class => "btn btn-primary btn-large" %>

<br/>
<br/>
<h3>Instructions</h3>
<ul>
  <li><p>You must have 3rd Party Applications enabled on your Android device, as this application is not available in the Google Play Store.</p></li>
  <li><p>Click the download button from your Android device to download and install the APK</p></li>
</ul>
<br/>

<h3>Features</h3>
<ul>
  <li><p>Ported to Android from my java tetris applet</p></li>
  <li><p>2D Graphics on Android</p></li>
  <li><p>Uses PHP and JSON to manage high scores in a SQL database</p></li>
</ul>
