<h1>Contact Me</h1>
<br/>
<br/>
<p class="lead">Zach Cotter</p>

<p><strong>Phone: </strong>847 404 9291</p>
<br/>
<p><strong>Email: </strong><a href="mailto:zach@zachcotter.com">zach@zachcotter.com</a></p>
<br/>
<p><strong>Github: </strong><a href="http://github.com/zcotter">github.com/zcotter</a></p>
<br/>

