%h1 Contact Me
%br/
%br/
%p.lead Zach Cotter
%p
  %strong Phone:
  847 404 9291
%br/
%p
  %strong Email:
  %a{href: "mailto:zach@zachcotter.com"} zach@zachcotter.com
%br/
%p
  %strong Github:
  %a{href: "http://github.com/zcotter"} github.com/zcotter
%br/
