%h1 Welcome
%br/
%br/
%p
  I am a student at Northeastern University in Boston, MA, currently pursuing BS degrees in Computer Science and
  Earth/Environmental Science.
%p
  This website showcases my computer science projects completed either independently, or as college coursework. It’s
  purpose is to provide a picture of my skill-set and experience.
%p.text-center
  = image_tag 'prof.jpeg', :class => "img-rounded prof"
