<h1>Mandelbrot</h1>
<p class="lead">A mandelbrot fractal drawing java applet</p>
<%= link_to "Launch slow, medium resolution version", '#', :class => "btn btn-primary btn-large" %>
<%= link_to "Launch really slow, high resolution version", '#', :class => "btn btn-primary btn-large" %>
<%= link_to "Documentation", 'http://www.zachcotter.com/Mandelbrot/javadoc/', :class => "btn btn-primary btn-large" %>
<%= link_to "Code", 'http://github.com/zcotter/Mandelbrot', :class => "btn btn-primary btn-large" %>

<br/>
<br/>
<h3>Instructions</h3>
<ul>
  <li><p>Launch the app to display the
    <a href="http://en.wikipedia.org/wiki/Mandelbrot_set#Formal_definition">Mandelbrot Set (a fractal)</a></p></li>
  <li><p>Click and drag on the image, then press "zoom in" to see a portion of the fractal in greater detail.</p></li>
  <li><p>Click "zoom out" to return to the previous view of the fractal.</p></li>
  <li><p>The slower, higher resolution version requires more iterations of the formula to accept a point as part of the
    set, therefore it takes much longer to load, but also results in greater detail and color range.</p></li>
</ul>
<br/>

<h3>Features</h3>
<ul>
  <li><p>Recursion</p></li>
  <li><p>"Math"</p></li>
  <li><p>2D Graphics</p></li>
</ul>
<p>

</p>