<h1>Maze</h1>
<p class="lead">A simple maze solving java applet.</p>
<%= link_to "Launch", 'http://www.zachcotter.com/Maze/MazeFrame.html', :class => "btn btn-primary btn-large" %>
<%= link_to "Documentation", 'http://www.zachcotter.com/Maze/javadoc/index.html', :class => "btn btn-primary btn-large" %>
<%= link_to "Code", 'http://github.com/zcotter/Maze', :class => "btn btn-primary btn-large" %>

<br/>
<br/>
<h3>Instructions</h3>
<ul>
  <li><p>The computer solves a user generated maze.</p></li>
  <li><p>The green space is the starting point or entrance, while the red space is the ending point or exit.</p></li>
  <li><p>Click solve for the computer to complete the currently displayed maze</p></li>
  <li><p>Click build to create your own maze for the computer to solve</p></li>
</ul>
<br/>

<h3>Features</h3>
<ul>
  <li><p>Object Oriented Design</p></li>
  <li><p>Abstraction</p></li>
  <li><p>Polymorphism</p></li>
  <li><p>Recursion</p></li>
</ul>
<p>

</p>