<h1>Tetris</h1>
<p class="lead">A Tetris java applet.</p>
<%= link_to "Play", 'http://zachcotter.com/Tetris/Tetris.html', :class => "btn btn-primary btn-large" %>
<%= link_to "Documentation", 'http://www.zachcotter.com/Tetris/javadoc/index.html', :class => "btn btn-primary btn-large" %>
<%= link_to "Code", 'http://github.com/zcotter/Tetris', :class => "btn btn-primary btn-large" %>

<br/>
<br/>
<h3>Instructions</h3>
<ul>
  <li><p>Use the left and right arrow keys to move the piece.</p></li>
  <li><p>Use the S and A keys to rotate the piece.</p></li>
  <li><p>Use the down arrow to drop the piece.</p></li>
</ul>
<br/>

<h3>Features</h3>
<ul>
  <li><p>Originally coded in Racket for freshman CS class, rewritten in Java.</p></li>
  <li><p>2D Graphics library</p></li>
  <li><p>High Score feature uses Java networking and object serialization libraries</p></li>
</ul>
<p>

</p>