<a href="<%= project_path(project) %>" class="span6 project">
  <div class="well">
    <h3><%= project.name %></h3>
    <p class="lead"><%= project.lead %></p>
    <div class="clearfix">&nbsp;</div>
  </div>
</a>