<h1>Projects</h1>
<br/>

<% i = 0 %>
<% while i < @projects.length %>
    <% projectA = @projects[i] %>
    <% projectB = @projects[i + 1] %>
    <% i += 2 %>
    <div class="row-fluid">
      <%= render :partial => 'project', :locals => {:project => projectA} %>
      <% unless projectB.nil? %>
          <%= render :partial => 'project', :locals => {:project => projectB} %>
      <% end %>
    </div>
<% end %>

<br/>

<% if user_signed_in? %>
    <%= link_to 'New Project', new_project_path, :class => "btn btn-primary btn-small" %>
<% end %>

