<h1>My Projects</h1>

<% i = 0 %>
<% while i < @projects.length %>
    <% projectA = @projects[i] %>
    <% projectB = @projects[i + 1] %>
    <% i += 2 %>
    <div class="row-fluid">
      <%= render :partial => 'project', :locals => {:project => projectA} %>
      <%= render :partial => 'project', :locals => {:project => projectB} %>
    </div>
<% end %>

<br/>

<%= link_to 'New Project', new_project_path %>
