<h1><%= @project.name %></h1>
<p class="lead"><%= @project.lead %></p>

<% @project.project_link_buttons.each do |button| %>
    <%= link_to button.name, button.link, :class => "btn btn-primary btn-large" %>
<% end %>
<br/>
<br/>
<% @project.project_content_lists.each do |list| %>
 <h3><%= list.title %></h3>
<% end %>



